<div class="containter">
  <div class="row">
    <div class="col-xs-12">
      <form #f = "ngForm">
        <div class="row">
          <div class="col-xs-5 form-group">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" class="form-control" ngModel />
          </div>
          <div class="col-xs-2 form-group">
            <label for="amount">Amount</label>
            <input type="number" id="amount" name="amount"
             class="form-control" ngModel/>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <button class="btn btn-success"  (click)='onSubmit()'>{{ isEdit? 'Update': 'Add'}}</button> &nbsp;
            <button class="btn btn-danger" *ngIf="isEdit" type="submit" (click)="onDelete()">Delete</button>&nbsp;
            <button class="btn btn-danger" type="submit" (click)="onClear()">Cancel</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
